<% content_for :header_section do %>
h2. Credits

We'd like to thank the following people for their tireless contributions to this project.

<% end %>

<h3 class="section">Tog developers</h3>

<% author('Aitor García', 'aitor') do %>
  Aitor García
<% end %>

<% author('Roberto Salicio', 'salicio') do %>
  Roberto Salicio
<% end %>

<% author('Alberto Molpeceres', 'molpe') do %>
  Alberto Molpeceres
<% end %>

<h3 class="section">Tog Guides Authors and Contributors</h3>

<% author('Aitor García', 'aitor') do %>
  Aitor García
<% end %>

<% author('Alberto Molpeceres', 'molpe') do %>
  Alberto Molpeceres
<% end %>

<h3 class="section">Other people</h3>

<% author('IBCmass S.A.', '') do %>
  A Spanish company, for making tog possible with their support
<% end %>

<% author('Rails guides project', '') do %>
  For a great infraestrucutre to write and publish this documentation
<% end %>

<% author('Javier Ramírez', 'javier') do %>
  For giving us the idea of using Rails guide as base for documentation
<% end %>